@font-face {
  font-family: 'Khand', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Homenaje&family=Khand&family=Noto+Sans+JP&family=Open+Sans&family=Zen+Kaku+Gothic+New&display=swap');
}
